<div class="etapa" id="step2">
  <h3>Endereço</h3>
  <p class="erro">Preencha todos os campos</p>
  <!-- <input type="text" id="cep" name="zipcode" maxlength="8" class="etp2" data-mask="00000-000" placeholder="CEP"
      required> -->
  <input type="text" id="cep" name="zipcode" class="etp2" placeholder="CEP"
      required>
  <small>Ex: 00000-000</small>
  <input type="text" id="localidade" name="city" class="etp2" placeholder="Cidade" required>
  <small>Ex: Rio de Janeiro, Minas Gerais...</small>
  <input type="text" id="uf" name="state" class="etp2" placeholder="Estado" required>
  <small>Ex: Resende, Belo Horizonte...</small>
  <input type="text" id="bairro" class="etp2" placeholder="Bairro" required>
  <small>Ex: Jardim Alegria, Santa Lúcia</small>
  <input type="text" id="logradouro" class="etp2" placeholder="Logradouro" required>
  <small>Ex: Rua inChurch</small>
  <input type="text" id="CompanyAddress2" class="etp2" placeholder="Número" required>
  <small>Ex: 456</small>
  <input type="text" id="complemento" class="etp2" placeholder="Complemento">
  <small>Ex: bloco, apartamento...</small>
  <div class="botoes">
      <button routerLink="" class="back"> Voltar </button>
      <button routerLink="/etp3" class="skip"> Proximo </button>
  </div>
</div>
