

    <div class="etapa" id="step1">
      <h3>Dados Pessoais</h3>
      <p class="erro">Preencha todos os campos</p>
      <input type="text" id="Name" name="nome" class="etp1" placeholder="Nome completo" required ng-Model="nome"> {{nome}}
      <small>Ex: Nome Sobrenome </small>
      <input type="email" id="Email" name="email" class="etp1" placeholder="Email do Contato" required ng-Model="email" email>
      <small>Ex: exemplo@dominio.com</small>
      <input type="text" id="CompanyName" name="nomeIgreja" class="etp1" placeholder="Nome da Igreja" required ng-Model="nomeIgreja">
      <small>Ex: Igreja Batista InChurch</small>
      <div class="botoes-1step">
        <!-- <input type="submit" class="skip" value="Proximo3"> -->
        <button routerLink="/etp2" (onclick)="send()" class="skip"> Proximo </button>
      </div>
      <h1></h1>
    </div>


