<form action="">
  <div class="etapa" id="step1">
    <h3>Dados Pessoais</h3>
    <p class="erro">Preencha todos os campos</p>
    <input type="text" id="Name" class="etp1" placeholder="Nome completo" required>
    <small>Ex: Nome Sobrenome</small>
    <input type="email" id="Email" class="etp1" placeholder="Email do Contato" required>
    <small>Ex: exemplo@dominio.com</small>
    <input type="text" id="CompanyName" class="etp1" placeholder="Nome da Igreja" required>
    <small>Ex: Igreja Batista InChurch</small>
    <div class="botoes-1step">
      <button onclick="skip2()" class="skip"> Proximo </button>
    </div>
  </div>
</form>
