<div class="etapa" id="step3">
  <h3>Dados financeiros</h3>
  <p class="erro">Preencha todos os campos</p>
  <input type="number" maxlength="18" minlength="14" id="CustomFieldsCompanyCNPJ" class="etp3" placeholder="CNPJ da Igreja" required>
  <small>Ex: xx.xxx.xxx\xxxx-xx</small>
  <input type="text" id="CustomFieldsCompanyRazaoSocial" class="etp3"
      placeholder="Razão Social da Igreja" required>
  <small>Ex: Igreja Batista InChurch</small>
  <input type="text" id="CustomFieldsCompanyUsuárioGranito" class="etp3"
      placeholder="Nome Responsável Financeiro" required>
  <small>Ex: Nome Sobrenome</small>
  <input type="email" id="CustomFieldsCompanyEmailResponsávelGranito" class="etp3"
      placeholder="Email Responsável Financeiro" required>
  <small>Ex: exemplo@dominio.com</small>
  <input type="tel" id="CustomFieldsCompanyTelefoneResponsávelGranito" data-mask="(00) 00000-0000"
      class="etp3" placeholder="Telefone Responsável Financeiro" required>
  <small>Ex: (00)00000-0000</small>
  <div class="container">
      <div class="select-container">
          <select name="" id="CustomFieldsCompanyPrimeiraSolucao">
              <option value="" class="placeSelect" disabled selected> Primeira solução que interessou o cliente </option>
              <option value="TOTEM">TOTEM</option>
              <option value="POS (Maquininha)">POS (Maquininha) </option>
              <option value="Painel de Controle inChurch">Painel de Controle inChurch </option>
              <option value="Guia de Currículos e Empresas">Guia de Currículos e Empresas
              </option>
              <option value="Notificações de Push">Notificações de Push </option>
              <option value="Pedidos de Oração">Pedidos de Oração </option>
              <option value="Gestão de Células e Pequenos Grupos">Gestão de Células e Pequenos
                  Grupos </option>
              <option value="Gestão de Membresia">Gestão de Membresia </option>
              <option value="Gestão Financeira">Gestão Financeira </option>
              <option value="Doações">Doações </option>
              <option value="Eventos/Inscrições">Eventos/Inscrições </option>
              <option value="Agenda da Igreja">Agenda da Igreja </option>
              <option value="Multiplicador de Audiência (Parceria Multiplier App)">Multiplicador
                  de Audiência (Parceria Multiplier App) </option>
              <option value="Transmissão Ao Vivo">Transmissão Ao Vivo </option>
              <option value="Downloads">Downloads </option>
              <option value="Palavras">Palavras </option>
              <option value="Bíblia">Bíblia </option>
              <option value="Páginas Multiuso">Páginas Multiuso </option>
              <option value="Notícias">Notícias </option>
              <option value="Níveis de Permissão">Níveis de Permissão </option>
              <option value="Grupos">Grupos </option>
              <option value="Multigestor">Multigestor </option>
              <option value="Qualidade de usabilidade inChurch">Qualidade de usabilidade inChurch
              </option>
              <option value="Qualidade de Design inChurch">Qualidade de Design inChurch </option>
              <option value="Sistema Integrado">Sistema Integrado </option>
          </select>
      </div>
  </div>
  <small> Ex: Eventos, Palavras, Membresia</small>
  <div class="container">
      <div class="select-container">
          <select name="" id="CustomFieldsCompanySegundaSolucao">
              <option value="" class="placeSelect" disabled selected> Segunda solução que interessou o cliente </option>
              <option value="TOTEM">TOTEM</option>
              <option value="POS (Maquininha)">POS (Maquininha) </option>
              <option value="Painel de Controle inChurch">Painel de Controle inChurch </option>
              <option value="Guia de Currículos e Empresas">Guia de Currículos e Empresas
              </option>
              <option value="Notificações de Push">Notificações de Push </option>
              <option value="Pedidos de Oração">Pedidos de Oração </option>
              <option value="Gestão de Células e Pequenos Grupos">Gestão de Células e Pequenos
                  Grupos </option>
              <option value="Gestão de Membresia">Gestão de Membresia </option>
              <option value="Gestão Financeira">Gestão Financeira </option>
              <option value="Doações">Doações </option>
              <option value="Eventos/Inscrições">Eventos/Inscrições </option>
              <option value="Agenda da Igreja">Agenda da Igreja </option>
              <option value="Multiplicador de Audiência (Parceria Multiplier App)">Multiplicador
                  de Audiência (Parceria Multiplier App) </option>
              <option value="Transmissão Ao Vivo">Transmissão Ao Vivo </option>
              <option value="Downloads">Downloads </option>
              <option value="Palavras">Palavras </option>
              <option value="Bíblia">Bíblia </option>
              <option value="Páginas Multiuso">Páginas Multiuso </option>
              <option value="Notícias">Notícias </option>
              <option value="Níveis de Permissão">Níveis de Permissão </option>
              <option value="Grupos">Grupos </option>
              <option value="Multigestor">Multigestor </option>
              <option value="Qualidade de usabilidade inChurch">Qualidade de usabilidade inChurch
              </option>
              <option value="Qualidade de Design inChurch">Qualidade de Design inChurch </option>
              <option value="Sistema Integrado">Sistema Integrado </option>
          </select>
      </div>
  </div>
  <small> Ex: Eventos, Palavras, Membresia</small>
  <div class="container">
      <div class="select-container">
          <select name="" id="CustomFieldsCompanyTerceiraSolucao">
              <option value="" class="placeSelect" disabled selected> Terceira solução que interessou o cliente </option>
              <option value="TOTEM">TOTEM</option>
              <option value="POS (Maquininha)">POS (Maquininha) </option>
              <option value="Painel de Controle inChurch">Painel de Controle inChurch </option>
              <option value="Guia de Currículos e Empresas">Guia de Currículos e Empresas
              </option>
              <option value="Notificações de Push">Notificações de Push </option>
              <option value="Pedidos de Oração">Pedidos de Oração </option>
              <option value="Gestão de Células e Pequenos Grupos">Gestão de Células e Pequenos
                  Grupos </option>
              <option value="Gestão de Membresia">Gestão de Membresia </option>
              <option value="Gestão Financeira">Gestão Financeira </option>
              <option value="Doações">Doações </option>
              <option value="Eventos/Inscrições">Eventos/Inscrições </option>
              <option value="Agenda da Igreja">Agenda da Igreja </option>
              <option value="Multiplicador de Audiência (Parceria Multiplier App)">Multiplicador
                  de Audiência (Parceria Multiplier App) </option>
              <option value="Transmissão Ao Vivo">Transmissão Ao Vivo </option>
              <option value="Downloads">Downloads </option>
              <option value="Palavras">Palavras </option>
              <option value="Bíblia">Bíblia </option>
              <option value="Páginas Multiuso">Páginas Multiuso </option>
              <option value="Notícias">Notícias </option>
              <option value="Níveis de Permissão">Níveis de Permissão </option>
              <option value="Grupos">Grupos </option>
              <option value="Multigestor">Multigestor </option>
              <option value="Qualidade de usabilidade inChurch">Qualidade de usabilidade inChurch
              </option>
              <option value="Qualidade de Design inChurch">Qualidade de Design inChurch </option>
              <option value="Sistema Integrado">Sistema Integrado </option>
          </select>
      </div>
  </div>
  <small> Ex: Eventos, Palavras, Membresia</small>

  <div class="botoes">
      <button routerLink="/etp2" class="back"> Voltar </button>
      <input type="submit" id="btn-enviar">
  </div>

</div>
