div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

app-form-formulario{
  width: 50%;
  display: flex;
  justify-content: center;
}

app-form-ilustracao{
  width: 50%;
  text-align: center;
}
