$pri:#d4a373;
$sec:#e9edc9;
$ter:#ccd5ae;
$fontc:#262725;

div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

app-form-formulario {
  width: 50%;
  display: flex;
  justify-content: center;
}
