$pri:#d4a373;
$sec:#e9edc9;
$ter:#ccd5ae;
$fontc:#262725;

form {
  width: 85%;
  align-self: center;
  margin-bottom: 40%;
}


.card-forms{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  width: 100%;
}

app-form-etapa1{
  width: 100%;
}
